html{
    background-color: white;
    height: 100%;

}

body {
        background-image: url('sal.jpg');
        background-size: 1325px 750px;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        position: relative;
        
    }
    

    h1 {
        color: white; /* Couleur du texte */
        position: absolute; /* Permet de superposer le texte sur l'image */
        top: 50%; /* Positionner à 50% du conteneur */
        left: 50%; /* Positionner à 50% du conteneur */
        transform: translate(-80%, -70%); /* Centrer exactement */
        font-size: 4pc; /* Taille du texte */
        text-transform: uppercase;
        font-weight: bold;
    }
    




